In [1]:
import pandas as pd 
import datetime as dt

In [3]:
pd.Timestamp("2015-03-31 09:32:15")

Timestamp('2015-03-31 09:32:15')

In [4]:
pd.Timestamp(dt.datetime(2000,2,13,21,12,2))

Timestamp('2000-02-13 21:12:02')

## The Pandas DateTimeIndex Object

In [5]:
date = ["2016-01-02", "2017-04-03", "2019-09-21"]

In [6]:
pd.DatetimeIndex(date)

DatetimeIndex(['2016-01-02', '2017-04-03', '2019-09-21'], dtype='datetime64[ns]', freq=None)

In [13]:
dates = [dt.date(2016,1,2), dt.date(2014,2,12), dt.date(2019,9,22)]
dtIndex = pd.DatetimeIndex(dates)

In [12]:
values = [100, 200, 300]
pd.Series(data = values, index=dtIndex)

2016-01-02    100
2014-02-12    200
2019-09-22    300
dtype: int64

In [14]:
times = pd.Series(["2015-01-3", "2014/01/05", "2018", "July 4th, 1958"])

In [15]:
pd.to_datetime(times)

0   2015-01-03
1   2014-01-05
2   2018-01-01
3   1958-07-04
dtype: datetime64[ns]

In [18]:
date = pd.Series(["July 4th, 1996", "10/12/2011", "ABC", "2012/01/01"])

In [20]:
pd.to_datetime(date, errors='coerce')

0   1996-07-04
1   2011-10-12
2          NaT
3   2012-01-01
dtype: datetime64[ns]

## Create Range of Dates with the pd.date_range() Method

In [21]:
pd.date_range(start="2012", end="2015", freq="Y")

DatetimeIndex(['2012-12-31', '2013-12-31', '2014-12-31'], dtype='datetime64[ns]', freq='A-DEC')

In [22]:
pd.date_range(start="2012", end="2015", freq="M")

DatetimeIndex(['2012-01-31', '2012-02-29', '2012-03-31', '2012-04-30',
               '2012-05-31', '2012-06-30', '2012-07-31', '2012-08-31',
               '2012-09-30', '2012-10-31', '2012-11-30', '2012-12-31',
               '2013-01-31', '2013-02-28', '2013-03-31', '2013-04-30',
               '2013-05-31', '2013-06-30', '2013-07-31', '2013-08-31',
               '2013-09-30', '2013-10-31', '2013-11-30', '2013-12-31',
               '2014-01-31', '2014-02-28', '2014-03-31', '2014-04-30',
               '2014-05-31', '2014-06-30', '2014-07-31', '2014-08-31',
               '2014-09-30', '2014-10-31', '2014-11-30', '2014-12-31'],
              dtype='datetime64[ns]', freq='M')

In [23]:
pd.date_range(start="2012", end="2015", freq="6M")

DatetimeIndex(['2012-01-31', '2012-07-31', '2013-01-31', '2013-07-31',
               '2014-01-31', '2014-07-31'],
              dtype='datetime64[ns]', freq='6M')

Y = Year
M = Month
B = Business Day
W = Week
H = Hour
A = Year End

In [24]:
pd.date_range(start="2012", end="2015", freq="W-MON")

DatetimeIndex(['2012-01-02', '2012-01-09', '2012-01-16', '2012-01-23',
               '2012-01-30', '2012-02-06', '2012-02-13', '2012-02-20',
               '2012-02-27', '2012-03-05',
               ...
               '2014-10-27', '2014-11-03', '2014-11-10', '2014-11-17',
               '2014-11-24', '2014-12-01', '2014-12-08', '2014-12-15',
               '2014-12-22', '2014-12-29'],
              dtype='datetime64[ns]', length=157, freq='W-MON')

In [26]:
pd.date_range(start="2012", end="2015", freq="A")

DatetimeIndex(['2012-12-31', '2013-12-31', '2014-12-31'], dtype='datetime64[ns]', freq='A-DEC')

In [29]:
pd.date_range(start="2012-02-09", periods=25, freq="B")

DatetimeIndex(['2012-02-09', '2012-02-10', '2012-02-13', '2012-02-14',
               '2012-02-15', '2012-02-16', '2012-02-17', '2012-02-20',
               '2012-02-21', '2012-02-22', '2012-02-23', '2012-02-24',
               '2012-02-27', '2012-02-28', '2012-02-29', '2012-03-01',
               '2012-03-02', '2012-03-05', '2012-03-06', '2012-03-07',
               '2012-03-08', '2012-03-09', '2012-03-12', '2012-03-13',
               '2012-03-14'],
              dtype='datetime64[ns]', freq='B')

In [30]:
len(pd.date_range(start="2012-02-09", periods=25, freq="B"))

25

In [31]:
pd.date_range(end="2012-02-09", periods=25, freq="D")

DatetimeIndex(['2012-01-16', '2012-01-17', '2012-01-18', '2012-01-19',
               '2012-01-20', '2012-01-21', '2012-01-22', '2012-01-23',
               '2012-01-24', '2012-01-25', '2012-01-26', '2012-01-27',
               '2012-01-28', '2012-01-29', '2012-01-30', '2012-01-31',
               '2012-02-01', '2012-02-02', '2012-02-03', '2012-02-04',
               '2012-02-05', '2012-02-06', '2012-02-07', '2012-02-08',
               '2012-02-09'],
              dtype='datetime64[ns]', freq='D')

## .dt Accessor

In [33]:
bunch_of_date = pd.date_range(start="2012-02-09", end="2015-02-09",freq="24D")

In [35]:
s = pd.Series(bunch_of_date)

In [46]:
mask = s.dt.is_month_end

In [47]:
s[mask]

44   2014-12-31
dtype: datetime64[ns]

## Import Financial Dataset with pandas_datareader Library

In [49]:
import pandas as pd 
import datetime as dt
from pandas_datareader import data

In [51]:
tsla_stock = data.DataReader(name="TSLA", data_source="yahoo", start="2015-01-01", end="2022-01-01")

In [53]:
tsla_stock.head(3)

                 High        Low       Open      Close      Volume  Adj Close
Date
2015-01-02  44.650002  42.652000  44.574001  43.862000  23822000.0  43.862000
2015-01-05  43.299999  41.431999  42.910000  42.018002  26842500.0  42.018002
2015-01-06  42.840000  40.841999  42.012001  42.256001  31309500.0  42.256001

In [54]:
tsla_stock.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [55]:
tsla_stock.index

DatetimeIndex(['2015-01-02', '2015-01-05', '2015-01-06', '2015-01-07',
               '2015-01-08', '2015-01-09', '2015-01-12', '2015-01-13',
               '2015-01-14', '2015-01-15',
               ...
               '2021-12-17', '2021-12-20', '2021-12-21', '2021-12-22',
               '2021-12-23', '2021-12-27', '2021-12-28', '2021-12-29',
               '2021-12-30', '2021-12-31'],
              dtype='datetime64[ns]', name='Date', length=1763, freq=None)

In [56]:
tsla_stock.axes

[DatetimeIndex(['2015-01-02', '2015-01-05', '2015-01-06', '2015-01-07',
                '2015-01-08', '2015-01-09', '2015-01-12', '2015-01-13',
                '2015-01-14', '2015-01-15',
                ...
                '2021-12-17', '2021-12-20', '2021-12-21', '2021-12-22',
                '2021-12-23', '2021-12-27', '2021-12-28', '2021-12-29',
                '2021-12-30', '2021-12-31'],
               dtype='datetime64[ns]', name='Date', length=1763, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

## Selecting Rows from a DataFrame with a DatetimeIndex

In [70]:
tsla = data.DataReader(name="TSLA", data_source="yahoo", start="2015-01-01", end="2022-01-01")

In [59]:
tsla.loc["2016-03-01"]

High         3.919000e+01
Low          3.654000e+01
Open         3.885000e+01
Close        3.727000e+01
Volume       3.356100e+07
Adj Close    3.727000e+01
Name: 2016-03-01 00:00:00, dtype: float64

In [60]:
tsla.iloc[152]

High         4.786000e+01
Low          4.688800e+01
Open         4.743000e+01
Close        4.747400e+01
Volume       2.132450e+07
Adj Close    4.747400e+01
Name: 2015-08-11 00:00:00, dtype: float64

In [64]:
tsla.truncate(before="2019-10-01", after="2020-12-31")

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-10-01,49.189999,47.826000,48.299999,48.938000,30813000.0,48.938000
2019-10-02,48.930000,47.886002,48.658001,48.625999,28157000.0,48.625999
2019-10-03,46.896000,44.855999,46.372002,46.605999,75422500.0,46.605999
2019-10-04,46.956001,45.613998,46.321999,46.285999,39975000.0,46.285999
2019-10-07,47.712002,45.709999,45.959999,47.543999,40321000.0,47.543999
...,...,...,...,...,...,...
2020-12-24,666.090027,641.000000,642.989990,661.770020,22865600.0,661.770020
2020-12-28,681.400024,660.799988,674.510010,663.690002,32278600.0,663.690002
2020-12-29,669.900024,655.000000,661.000000,665.989990,22910800.0,665.989990
2020-12-30,696.599976,668.359985,672.000000,694.780029,42846000.0,694.780029
2020-12-31,718.719971,691.119995,699.989990,705.669983,49649900.0,705.669983

In [66]:
birthday = pd.date_range(start="1998-09-21",end="2022-09-21", freq=pd.DateOffset(years = 1))

In [68]:
birthday_stock = tsla.index.isin(birthday)

In [72]:
tsla[birthday_stock]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2015-09-21,54.313999,51.160000,52.796001,52.840000,30601000.0,52.840000
2016-09-21,41.400002,40.312000,41.273998,41.043999,13167500.0,41.043999
2017-09-21,75.365997,72.902000,74.980003,73.295998,23091000.0,73.295998
2018-09-21,60.116001,59.074001,59.540001,59.820000,25252500.0,59.820000
2020-09-21,455.679993,407.070007,453.130005,449.390015,109476800.0,449.390015
2021-09-21,744.739990,730.440002,734.789978,739.380005,16330700.0,739.380005

## Timestamp Object Attributes and Methods

In [74]:
stocks = data.DataReader(name="TSLA", data_source="yahoo", start="2015-01-01", end="2022-01-01")

In [76]:
someday = stocks.index[500]

In [77]:
someday.day_name()

'Tuesday'

In [78]:
stocks.index.day_name()

Index(['Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       ...
       'Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Monday',
       'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
      dtype='object', name='Date', length=1763)

In [79]:
stocks.insert(0, "Day of Week", stocks.index.day_name())

In [81]:
stocks.head(3)

,Day of Week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2015-01-02,Friday,44.650002,42.652000,44.574001,43.862000,23822000.0,43.862000
2015-01-05,Monday,43.299999,41.431999,42.910000,42.018002,26842500.0,42.018002
2015-01-06,Tuesday,42.840000,40.841999,42.012001,42.256001,31309500.0,42.256001

In [82]:
stocks.insert(1, "Is Start of Month", stocks.index.is_month_start)

In [85]:
stocks[stocks["Is Start of Month"]].head(5)

,Day of Week,Is Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2015-04-01,Wednesday,True,38.459999,37.209999,37.740002,37.518002,18973000.0,37.518002
2015-05-01,Friday,True,46.354000,44.082001,45.987999,45.206001,26408500.0,45.206001
2015-06-01,Monday,True,50.320000,49.493999,50.282001,49.889999,12525500.0,49.889999
2015-07-01,Wednesday,True,54.523998,53.570000,54.222000,53.830002,10506000.0,53.830002
2015-09-01,Tuesday,True,49.200001,47.394001,48.068001,47.726002,27274000.0,47.726002

## The pd.DateOffset Object

In [89]:
stocks = data.DataReader(name="TSLA", data_source="yahoo", start="2015-01-01", end="2022-01-01")
stocks.head(5)

                 High        Low       Open      Close      Volume  Adj Close
Date
2015-01-02  44.650002  42.652000  44.574001  43.862000  23822000.0  43.862000
2015-01-05  43.299999  41.431999  42.910000  42.018002  26842500.0  42.018002
2015-01-06  42.840000  40.841999  42.012001  42.256001  31309500.0  42.256001
2015-01-07  42.956001  41.956001  42.669998  42.189999  14842000.0  42.189999
2015-01-08  42.759998  42.001999  42.562000  42.124001  17212500.0  42.124001

In [87]:
stocks.index + pd.DateOffset(days=5)

DatetimeIndex(['2015-01-07', '2015-01-10', '2015-01-11', '2015-01-12',
               '2015-01-13', '2015-01-14', '2015-01-17', '2015-01-18',
               '2015-01-19', '2015-01-20',
               ...
               '2021-12-22', '2021-12-25', '2021-12-26', '2021-12-27',
               '2021-12-28', '2022-01-01', '2022-01-02', '2022-01-03',
               '2022-01-04', '2022-01-05'],
              dtype='datetime64[ns]', name='Date', length=1763, freq=None)

In [90]:
stocks.index + pd.DateOffset(weeks=5)

DatetimeIndex(['2015-02-06', '2015-02-09', '2015-02-10', '2015-02-11',
               '2015-02-12', '2015-02-13', '2015-02-16', '2015-02-17',
               '2015-02-18', '2015-02-19',
               ...
               '2022-01-21', '2022-01-24', '2022-01-25', '2022-01-26',
               '2022-01-27', '2022-01-31', '2022-02-01', '2022-02-02',
               '2022-02-03', '2022-02-04'],
              dtype='datetime64[ns]', name='Date', length=1763, freq=None)

## Timeseries Offsets

In [91]:
stocks = data.DataReader(name="TSLA", data_source="yahoo", start="2015-01-01", end="2022-01-01")
stocks.head(5)

                 High        Low       Open      Close      Volume  Adj Close
Date
2015-01-02  44.650002  42.652000  44.574001  43.862000  23822000.0  43.862000
2015-01-05  43.299999  41.431999  42.910000  42.018002  26842500.0  42.018002
2015-01-06  42.840000  40.841999  42.012001  42.256001  31309500.0  42.256001
2015-01-07  42.956001  41.956001  42.669998  42.189999  14842000.0  42.189999
2015-01-08  42.759998  42.001999  42.562000  42.124001  17212500.0  42.124001

In [93]:
stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2015-01-31', '2015-01-31', '2015-01-31', '2015-01-31',
               '2015-01-31', '2015-01-31', '2015-01-31', '2015-01-31',
               '2015-01-31', '2015-01-31',
               ...
               '2021-12-31', '2021-12-31', '2021-12-31', '2021-12-31',
               '2021-12-31', '2021-12-31', '2021-12-31', '2021-12-31',
               '2021-12-31', '2022-01-31'],
              dtype='datetime64[ns]', name='Date', length=1763, freq=None)

In [94]:
stocks.head(3)

                 High        Low       Open      Close      Volume  Adj Close
Date
2015-01-02  44.650002  42.652000  44.574001  43.862000  23822000.0  43.862000
2015-01-05  43.299999  41.431999  42.910000  42.018002  26842500.0  42.018002
2015-01-06  42.840000  40.841999  42.012001  42.256001  31309500.0  42.256001

In [95]:
stocks.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2014-12-31', '2014-12-31', '2014-12-31', '2014-12-31',
               '2014-12-31', '2014-12-31', '2014-12-31', '2014-12-31',
               '2014-12-31', '2014-12-31',
               ...
               '2021-11-30', '2021-11-30', '2021-11-30', '2021-11-30',
               '2021-11-30', '2021-11-30', '2021-11-30', '2021-11-30',
               '2021-11-30', '2021-11-30'],
              dtype='datetime64[ns]', name='Date', length=1763, freq=None)

In [96]:
stocks.index + pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2015-02-01', '2015-02-01', '2015-02-01', '2015-02-01',
               '2015-02-01', '2015-02-01', '2015-02-01', '2015-02-01',
               '2015-02-01', '2015-02-01',
               ...
               '2022-01-01', '2022-01-01', '2022-01-01', '2022-01-01',
               '2022-01-01', '2022-01-01', '2022-01-01', '2022-01-01',
               '2022-01-01', '2022-01-01'],
              dtype='datetime64[ns]', name='Date', length=1763, freq=None)

In [98]:
from pandas.tseries import offsets
stocks.index - offsets.BMonthEnd()

DatetimeIndex(['2014-12-31', '2014-12-31', '2014-12-31', '2014-12-31',
               '2014-12-31', '2014-12-31', '2014-12-31', '2014-12-31',
               '2014-12-31', '2014-12-31',
               ...
               '2021-11-30', '2021-11-30', '2021-11-30', '2021-11-30',
               '2021-11-30', '2021-11-30', '2021-11-30', '2021-11-30',
               '2021-11-30', '2021-11-30'],
              dtype='datetime64[ns]', name='Date', length=1763, freq=None)

In [99]:
stocks.index + offsets.YearEnd()

DatetimeIndex(['2015-12-31', '2015-12-31', '2015-12-31', '2015-12-31',
               '2015-12-31', '2015-12-31', '2015-12-31', '2015-12-31',
               '2015-12-31', '2015-12-31',
               ...
               '2021-12-31', '2021-12-31', '2021-12-31', '2021-12-31',
               '2021-12-31', '2021-12-31', '2021-12-31', '2021-12-31',
               '2021-12-31', '2022-12-31'],
              dtype='datetime64[ns]', name='Date', length=1763, freq=None)

## Timedelta Object

In [103]:
time_b = pd.Timestamp("2020-03-21 15:32:13")
time_a = pd.Timestamp("2020-05-21 21:21:22")

d = time_a - time_b

In [104]:
type(d)

pandas._libs.tslibs.timedeltas.Timedelta

In [105]:
pd.Timedelta(days=10)

Timedelta('10 days 00:00:00')

In [107]:
time_a + pd.Timedelta(days=10, hours=5, minutes=22)

Timestamp('2020-06-01 02:43:22')

## Timedeltas in a Dataset

In [111]:
shipping = pd.read_csv("ecommerce.csv", index_col="ID", parse_dates=["order_date", "delivery_date"])
shipping.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [113]:
shipping["Delivery_time"] = shipping.delivery_date - shipping.order_date

In [114]:
shipping.head(3)

   order_date delivery_date Delivery_time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days

In [117]:
shipping["double_time"] = shipping.delivery_date + shipping.Delivery_time

In [118]:
shipping.head(3)

   order_date delivery_date Delivery_time double_time
ID
1  1998-05-24    1999-02-05      257 days  1999-10-20
2  1992-04-22    1998-03-06     2144 days  2004-01-18
4  1991-02-10    1992-08-26      563 days  1994-03-12