In [33]:
import pandas as pd

In [ ]:
pokemon = pd.read_csv('pokemon.csv',usecols=['Pokemon'], squeeze=True)

In [53]:
google = pd.read_csv("google_stock_price.csv", usecols=['Stock Price'])

In [42]:
google.head()

   Stock Price
0        50.12
1        54.10
2        54.65
3        52.38
4        52.95

In [43]:
google.tail()

      Stock Price
3007       772.88
3008       771.07
3009       773.18
3010       771.61
3011       782.22

In [44]:
pokemon.is_unique

True

In [54]:
google.is_unique

AttributeError: 'DataFrame' object has no attribute 'is_unique'