## Importing Pandas to Jupyter Notebook

In [7]:
import pandas as pd
import numpy as np

In [9]:
df_bigmac = pd.read_csv("bigmac.csv")
df_bigmac.head()

     Date    Country  Price in US Dollars
0  1/2016  Argentina                 2.39
1  1/2016  Australia                 3.74
2  1/2016     Brazil                 3.35
3  1/2016    Britain                 4.22
4  1/2016     Canada                 4.14